*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root,
body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,red, orange, yellow, green, blue, violet);
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategray;
}